In [18]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [19]:
import pandas as pd
import numpy as np

# Loading the dataset
df = pd.read_csv('/content/drive/MyDrive/DSML_Projects/flipkart_sales/flipkart_sales.csv')

In [20]:
df.head()

,Customer ID,Order ID,Product Name,Category,Price (INR),Quantity Sold,Total Sales (INR),Order Date,Payment Method,Customer Rating
0,CUST_0265,ORD00001,Educational Book,Books,49069.56,2,98139.12,12-09-2024,Debit Card,3.5
1,CUST_0009,ORD00002,Jeans,Clothing,12755.85,4,51023.40,18-12-2024,UPI,3.9
2,CUST_0226,ORD00003,Face Cream,Beauty,11092.19,4,44368.76,18-05-2024,Debit Card,4.4
3,CUST_0043,ORD00004,Smartwatch,Electronics,32657.81,1,32657.81,08-11-2024,Debit Card,3.2
4,CUST_0122,ORD00005,Cookware Set,Home & Kitchen,26590.08,3,79770.24,27-12-2024,UPI,3.1

In [21]:
# Checking data types and missing values
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        1000 non-null   object
 1   Order ID           1000 non-null   object
 2   Product Name       1000 non-null   object
 3   Category           1000 non-null   object
 4   Price (INR)        1000 non-null   float64
 5   Quantity Sold      1000 non-null   int64
 6   Total Sales (INR)  1000 non-null   float64
 7   Order Date         1000 non-null   object
 8   Payment Method     1000 non-null   object
 9   Customer Rating    1000 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 78.3+ KB
None
Customer ID          0
Order ID             0
Product Name         0
Category             0
Price (INR)          0
Quantity Sold        0
Total Sales (INR)    0
Order Date           0
Payment Method       0
Customer Rating      0
dtype: int64

In [22]:
# Correcting data types
df['Order ID']= df['Order ID'].astype(str)
df['Order Date'] = pd.to_datetime(df['Order Date'],format='%d-%m-%Y')

In [23]:
# Validating data (check for negative quantities or prices)
df = df[df['Quantity Sold'] >= 0]
df = df[df['Price (INR)'] >= 0]
df = df[df['Customer Rating'] >= 0]

In [24]:
#Standardizing Tiles (removing spaces)
df.columns = df.columns.str.replace(' ', '')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       1000 non-null   object
 1   OrderID          1000 non-null   object
 2   ProductName      1000 non-null   object
 3   Category         1000 non-null   object
 4   Price(INR)       1000 non-null   float64
 5   QuantitySold     1000 non-null   int64
 6   TotalSales(INR)  1000 non-null   float64
 7   OrderDate        1000 non-null   datetime64[ns]
 8   PaymentMethod    1000 non-null   object
 9   CustomerRating   1000 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 78.3+ KB

In [25]:
df.dtypes

CustomerID                 object
OrderID                    object
ProductName                object
Category                   object
Price(INR)                float64
QuantitySold                int64
TotalSales(INR)           float64
OrderDate          datetime64[ns]
PaymentMethod              object
CustomerRating            float64
dtype: object

In [26]:
# Saving the cleaned data
df.to_csv('/content/drive/MyDrive/DSML_Projects/flipkart_sales/flipkart_sales_cleaned.csv', index=False)